{% extends 'base.html' %} {% load static %} {% block page_content %} Stenograph
{% endblock page_content %} {% block content %}

<!-- New Hero Layout -->

<section class="hero container" id="hero">
  <div class="row px-3 px-md-5">
    <div class="img-section col-12 col-lg-6">
      <img class="hero-img" src="{% static 'img/Steg header.gif' %}" />
    </div>

    <div class="col-12 col-lg-6 px-3">
      <h1 class="hero-title mt-5 mb-5">
        Hide and view Texts in Images
        <span class="text-danger">EASILY</span> and for
        <span class="text-danger">FREE</span>
      </h1>

      <div class="sten_box d-none d-lg-flex py-5">
        <a href="{% url 'encode'%}"> <button class="btn btn-danger btn-lg px-5 py-3 mb-4 rounded-5"> Encode image </button> </a>
        <span class="fs-5"> Or click here to <a href="{% url 'decode' %}">decode</a> </span>
      </div>

      <div class="sten_box_mobile border py-4 d-flex d-lg-none mt-5">

        <a href="{% url 'encode'%}"> <button class="btn btn-danger btn-lg px-5 py-3 rounded-5"> Encode </button> </a>
        <div class="my-2">OR</div>
        <a href="{% url 'decode'%}"> <button class="btn btn-danger btn-lg px-5 py-3 rounded-5"> Decode </button> </a>

      </div>
    </div>

    <div class="svg_image">
      <img class="svg-right" src="{% static 'svg/wavy.svg' %}" alt="" srcset="" />
      <img class="svg-left" src="{% static 'svg/spring.svg' %}" alt="" srcset="" />
    </div>

  </div>
</section>

<!-- About -->

<section id="about" class="about">
  <div class="container">

    <div class="row first-row flex-column-reverse flex-lg-row">
      <div class="col-12 col-lg-6 px-4 px-lg-0">
        <h1 class="about-text">
          What is <span class="text-danger">S</span>teganographer about?
        </h1>

        <p class="lead mt-4" style="line-height:2">
          Steganographer is an online application that enables user to hide
          secret messages in pictures, It also enables user to view the messages
          hidden.
        </p>

        <p class="lead">
          It is an application that makes
          <a href="https://en.wikipedia.org/wiki/Steganography" target="_blank"
            >Steganography</a
          >
          easier.
        </p>

      </div>

      <div class="col-12 col-lg-6">
        <div class="text-end">
          <img  class="about-img" src="{% static 'img/about-app.png' %}" alt="" srcset="">
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-12 col-lg-6">

        <div class="">
          <img  class="about-img" src="{% static 'img/what-we-do.png' %}" alt="" srcset="">
        </div>

      </div>

      <div class="col-12 col-lg-6">
        <h1 class="about-text">
          What is <span class="text-danger">S</span>teganographer offer?
        </h1>

        <p class="lead mt-4" style="line-height:2">
          Steganographer offers a Free and Easy online service. It was created in an easy way for the best user experience. Steganographer offers the following:
        </p>

        <div class="d-flex flex-wrap mt-4">
          <div class="me-3 mb-4">
            <h5>
              <i class="bi bi-check-circle-fill text-success me-2"></i>
              Hiding and viewing messages in Image
            </h5>
          </div>

          <div class="me-3 mb-3">
            <h5>
              <i class="bi bi-check-circle-fill text-success me-2"></i>
              Passwording Encoded Images (For premium users)
            </h5>
          </div>
          <div class="me-3 mb-3">
            <h5>
              <i class="bi bi-check-circle-fill text-success me-2"></i> Easy
              Usage
            </h5>
          </div>
          <div class="me-3 mb-3">
            <h5>
              <i class="bi bi-check-circle-fill text-success me-2"></i> Best
              User Experience
            </h5>
          </div>
        </div>
      </div>

      </div>
    </div>

  </div>
</section>

{% endblock content %}
