<nav class="navbar fixed-top navbar-expand-lg shadow py-3" id='nav'>
    <div class="container-fluid px-3 px-lg-5">
      <a class="navbar-brand ps-3 ps-lg-2 text-capitalize fw-bold fs-2 font-style text-danger" href="{% url 'home' %}">S<span class='text-dark'>tenographer</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav m-auto py-4 py-lg-0">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          <a class="nav-link" href="#get-started">Docs</a>
          <a class="nav-link" href="#faq">Faq</a>
          <a class="nav-link" href="#contact">Contact Us</a>
        </div>

        <button class="btn btn-outline-danger rounded-pill px-4 py-2  me-4">Log In</button>
        <button class="btn btn-danger rounded-pill px-3 py-2  me-4">Sign Up</button>

      </div>
    </div>
  </nav>