<nav class="navbar fixed-top navbar-expand-lg bg-white" style="box-shadow: 2px 2px 10px #555">
    <div class="container-fluid">
      <a class="navbar-brand px-5 text-capiitalize fw-bold fs-4 text-danger" href="#">S<span class='text-muted'>ten</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto px-5">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Docs</a>
          <a class="nav-link" href="#">Faq</a>
        </div>
      </div>
    </div>
  </nav>